html, body {
    background: rgb(27, 27, 27);
    margin: 0;
}

::-webkit-scrollbar { height: 10px; }
::-webkit-scrollbar-track { background: rgba(0, 0, 0, 0.0); }
::-webkit-scrollbar-thumb { background: rgba(121, 121, 121, 0.2); border-radius: 5px;}
::-webkit-scrollbar-thumb:hover { background: rgba(202, 202, 202, 0.2) }

div {
    -webkit-user-select: none;
     -moz-user-select: -moz-none;
      -ms-user-select: none;
          user-select: none;
}
.header {
    position: absolute;
    text-align: center;
    float: center;
    width: 100%;
    height: 4em;
    top: -1.3em;
    background: rgb(27, 27, 27);
    font-family: Tahoma;
    font-style: italic;
    font-variant: small-caps;
    font-size: 2.3em;
    color: white;
    /*-webkit-text-stroke: 2px rgba(0, 0, 0, 0.2);*/
    text-shadow: 0px 0px 4px black, 0px 0px 40px rgb(0, 174, 255); 
}

.mainWindow {
    width: 100%;
    position: absolute;
    top: 4em;
    bottom: 3em;
}
/*
.sidebarLeft {
    position: absolute;
    height: 100%;
    left: 0;
    width: 6em;
    color: white;
    background: black;
}
*/

.button {
    border-radius:2px;
    text-align: center;
    font-family: Impact;
    font-style: italic;
    font-size: 1.3em;
    padding: .1em .3em .3em 0;
    background: rgb(63, 63, 63);
    position: absolute;
    top: 50%;
    height: 1em;
    width: 2.8em;
    transform: translateY(-50%);
}

.button:hover {
    background: rgb(121, 121, 121);
}

.button:active {
    background: rgb(202, 202, 202);
}

#liveButton {
    left: 1em;
}

#inputGainText {
    border-radius:2px;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.8em;
    color: rgb(155, 155, 155);
    padding: .1em .3em .3em 0;
    position: absolute;
    top: 50%;
    left: 7.5em;
    height: 1em;
    transform: translateY(-50%);
}

.gainSlider {
    position: absolute;
    -webkit-appearance: none;
    width: 10em;
    height: 27px;
    background: none;
    outline: none;
    top: 45%;
    transform: translateY(-50%);
}

.gainSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 17px;
    height: 17px;
    margin-top: -5px;
    border-radius: 50%; 
    background: rgb(175, 175, 175);
    border: 2px solid #3f3f3f;
}

.gainSlider::-webkit-slider-thumb:hover {
    background: rgb(209, 209, 209);
}

.gainSlider::-webkit-slider-runnable-track {
    height: 4px;
    -webkit-appearance: none;
    border-radius: 2px; 
    background: rgba(0, 0, 0, 0.8);
}

#inputGain {
    left: 8em;
}

.visualization {
    border:2px solid black;
    border-radius: 4px;
    position :absolute;
    width: 5em;
    height: 1.3em;
    top: 50%;
    transform: translateY(-50%);
}

#inputMeter {
    left: 16em;
}

#outputGain {
    right: 8em;
}

#playButton {
    left: 46%;
}

#muteButton{
    right:1em;
}

#effectPedalWindow {
    border-radius:5px;
    position: absolute;
    height: 100%;
    width: 100%;
    /*right: 6em;
    left: 6em;*/
    color: white;
    background: rgb(63, 63, 63);
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}
/*
.sidebarRight {
    position: absolute;
    height: 100%;
    right: 0;
    width: 6em;
    color: white;
    background: black;
}
*/

#addEffectButton {
    border-radius:50%;
    color: rgb(63, 63, 63);
    text-align: center;
    font-family: Impact;
    font-size: 3em;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 50%;
    right: 1em;
    width: 1.2em;
    height: 1.2em;
    transform: translateY(-50%);
    box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.3);
}

#addEffectButton:hover {
    background: rgba(121, 121, 121, 0.7);
}

#addEffectButton:active {
    background: rgba(202, 202, 202, 0.7);
}

.dropdown-content {
    border-radius:5px;
    font-family: Tahoma;
    font-size: 1em;
    text-shadow: 0px 0px 15px black;
    display: none;
    position: absolute;
    top: 50%;
    right: 8em;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    color: grey;
    padding: 0.5em;
        /* min-width: 160px; */
    box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.3);
    z-index: 1;
}

.dropdownItem {
    padding: 0.5em;
}

.dropdownItem:hover {
    color: white;
}

#dropdownDistortion:hover {text-shadow: 0px 0px 10px rgb(255, 187, 0); color: rgb(255, 187, 0);}
#dropdownParamEQ:hover {text-shadow: 0px 0px 10px rgb(93, 136, 255); color: rgb(93, 136, 255);}
#dropdownTremolo:hover {text-shadow: 0px 0px 10px rgb(186, 44, 230); color: rgb(186, 44, 230);}
#dropdownDelay:hover {text-shadow: 0px 0px 10px rgb(150, 150, 150); color: rgb(150, 150, 150);}
#dropdownChorus:hover {text-shadow: 0px 0px 10px rgb(56, 0, 211); color: rgb(73, 60, 255);}

.show {display:block;}

.glowRed {color: rgb(255, 74, 74); text-shadow: 0px 0px 5px black, 0px 0px 10px rgb(255, 60, 60); }
.glowBlue {color: rgb(0, 102, 255); text-shadow: 0px 0px 5px black, 0px 0px 10px rgb(0, 102, 255); }
.glowGreen {color: rgb(0, 255, 34); text-shadow: 0px 0px 5px black, 0px 0px 10px rgb(51, 255, 78); }

.footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    float: center;
    width: 100%;
    height: 3em;
    background: rgb(27, 27, 27);
}